<launch>
  <arg name="lidar_port" default="/dev/ttyUSB0"/>
  <arg name="lidar_baud" default="115200"/>
  <arg name="map_file" default="/home/triton/catkin_ws/my_map_explore.yaml"/>
  <arg name="hotspots_yaml" default="/home/triton/catkin_ws/hotspots.yaml"/>
  <arg name="open_rviz" default="false"/>

  <arg name="initial_x" default="0.0"/>
  <arg name="initial_y" default="0.0"/>
  <arg name="initial_yaw" default="0.0"/>

  <arg name="image_topic" default="/camera/rgb/image_raw"/>
  <arg name="depth_topic" default="/camera/depth/image_raw"/>

  <rosparam file="$(find team2_delivery)/config/table_locations.yaml" command="load"/>

  <node pkg="rplidar_ros" type="rplidarNode" name="rplidar" output="screen">
    <param name="serial_port"      value="$(arg lidar_port)"/>
    <param name="serial_baudrate"  value="$(arg lidar_baud)"/>
    <param name="frame_id"         value="base_scan"/>
    <param name="angle_compensate" value="true"/>
  </node>

  <node name="hardware_bridge" pkg="team2_delivery" type="hardware_bridge.py" output="screen">
    <param name="sim_mode" value="false"/>
  </node>

  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" output="screen"/>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find team2_delivery)/config/amcl.yaml" command="load"/>
    <param name="initial_pose_x" value="$(arg initial_x)"/>
    <param name="initial_pose_y" value="$(arg initial_y)"/>
    <param name="initial_pose_a" value="$(arg initial_yaw)"/>
  </node>

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(find team2_delivery)/config/move_base_delivery.yaml" command="load"/>
    <remap from="cmd_vel" to="/cmd_vel"/>
  </node>

  <node pkg="team2_delivery" type="delivery_state_machine.py"
        name="delivery_state_machine" output="screen"/>

  <node pkg="team2_delivery" type="cmd_mux.py"
        name="cmd_mux" output="screen"/>

  <node pkg="team2_delivery" type="exploration_navigator.py"
        name="exploration_navigator" output="screen">
    <param name="hotspots_yaml" value="$(arg hotspots_yaml)"/>
  </node>

  <node pkg="team2_delivery" type="qr_detector.py"
        name="qr_detector" output="screen">
    <param name="image_topic" value="$(arg image_topic)"/>
    <param name="depth_topic" value="$(arg depth_topic)"/>
  </node>

  <node pkg="team2_delivery" type="qr_goal_tracker.py" name="qr_goal_tracker" output="screen"/>

  <node if="$(arg open_rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find team2_delivery)/config/robot.rviz" output="screen"/>
</launch>
